h1{
    color :dodgerblue;
    margin-left: 40px;
    font-size: 40px;
}
/*
*{
    border: solid;
}
.header *{
    border: solid;
}*/
.header{
    background-color:khaki;
    display: flex;
    justify-content: space-between;
}
.jogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.footer{
    display: flex;
    justify-content: flex-end;
    background-color: #B0E0E6;
}
h2, p{
    text-align: center;
    background-color: #F5FFFA;
}
body{
  /*  background-color: rgb(128,128,128);*/
  background-color: #808080;
}
a:link{
    color:cadetblue;
}
a:visited{
    color:cornflowerblue;
}
.menu{
    margin-right: 70px;
    margin-top: 40px;
}
.menu a{
    margin-right: 30px;
    
}
.jogo{
    position: relative;
}
.jogo h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;

}
.jogo:hover h2{
    opacity: 1;

}
.jogo:hover img{
    opacity: 0.4;
}